@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600;6..12,700&family=Poppins:wght@400;600&display=swap');

* {

    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

img {
    width: 20%;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: #f1356d;
    margin: 10px;
    text-decoration: underline;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 245, 247);
    border-radius: 0.5rem;
    margin-bottom: 10px;
}

.title>h1 {
    text-decoration: none;
    color: rgb(70, 64, 64);
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(175, 175, 248);
    border-radius: 0.5em;
    padding-bottom: 20px;
    margin-top: 20px;
}


body {
    background: #faf3f3;
    color: hsl(210, 4%, 18%);
    max-width: 500px;
    padding: 1rem;
    margin: 0 auto;
}

.new-item-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.btn {
    background: #c54c70;
    border: 1px solid #f1356d;
    color: white;
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    outline: none;
}

.btn:hover,
.btn:focus-visible {
    background: hsla(345, 81%, 71%, 0.2);
    color: #f1356d;
}

.btn.btn-danger {
    background: hsl(0, 100%, 40%, 0.1);
    border: 2px solid hsl(0, 91%, 66%);
    color: hsl(0, 100%, 40%);
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
    background: hsl(0, 100%, 40%, 0.2);
}

.new-item-form input {
    outline: none;
    border: 1px solid #f1356d;
    background: hsla(345, 81%, 71%, 0.2);
    border-radius: 0.5em;
    padding: 0.25em 0.5em;
    color: hsl(198, 10%, 19%);
}

.new-item-form input:focus {
    border: 1px solid hsl(200, 100%, 70%);
}

.header {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.list {
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    list-style: none;
}

.list li:has(input:checked) label {
    color: hsl(200, 20%, 40%);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.list li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.list li label {
    display: flex;
    gap: 0.25rem;
    cursor: pointer;
    align-items: center;
}

.list li:has(input:focus-visible) label {
    outline: 1px solid hsl(200, 100%, 50%);
}

.list li input {
    outline: none;
    width: 0;
    height: 0;
    appearance: none;
    pointer-events: none;
    position: absolute;
}

.list li label::before {
    content: "";
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    background: hsl(200, 100%, 90%);
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list li label:hover::before {
    background: hsl(200, 100%, 80%);
}

.list li:has(input:checked) label::before {
    content: "✔";
    background: hsl(200, 100%, 40%);
    color: hsl(200, 100%, 90%);
    font-size: 0.75rem;
    font-weight: bold;
}

.list li:has(input:checked) label:hover::before {
    background: hsl(200, 100%, 30%);
}